.login-page {
    height: 100%;
    background: var(--bg-0);
    overflow:hidden;
    max-height: 100vh;
}

.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    position: absolute;
    border-radius: 50%;
    transition: transform  2.5s ease-in-out;
}
.shape:nth-child(1){
    height: 300px;
    width: 300px;
    background: linear-gradient(
        hsl(0, 87%, 45%),
        hsl(255, 60%, 44%)
    );
    left: -155px;
    top: -155px;
}
.shape:nth-child(2){
    height: 300px;
    width: 300px;
    background: linear-gradient(
        to right,
        hsl(36, 100%, 59%),
        hsl(16, 97%, 55%)
    );
    right: -135px;
    bottom: -165px;
}
.shape:nth-child(3){
    position: absolute;
    background: linear-gradient(
        to top right,
        var(--bg-0),
        hsl(9, 60%, 44%)
    );
    height: 400px;
    width: 400px;
    transform: translate(200%,-100%);
}
.shape:nth-child(4){
    position: absolute;
    background: linear-gradient(
        to bottom left,
        var(--bg-0),
        hsl(255, 57%, 32%)
    );
    height: 800px;
    width: 800px;
    transform: translate(-120%,50%);
}

.shape:nth-child(1):hover, .shape:nth-child(2):hover {
    transform: scale(1.05);
    transition: transform  1.2s ease-in-out;
}