<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GuessingGame</servlet-name>
        <servlet-class>App.GuessingGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameModel</servlet-name>
        <servlet-class>App.GameModel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>App.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Question</servlet-name>
        <servlet-class>App.Question</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Quiz</servlet-name>
        <servlet-class>App.Quiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Game</servlet-name>
        <servlet-class>App.Game</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GuessingGame</servlet-name>
        <url-pattern>/GuessingGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameModel</servlet-name>
        <url-pattern>/GameModel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Question</servlet-name>
        <url-pattern>/Question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Quiz</servlet-name>
        <url-pattern>/Quiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Game</servlet-name>
        <url-pattern>/Game</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
