section {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
    flex: 1;
    font-size: large;
    background: linear-gradient(130deg, orange 5%, rgb(149, 0, 107) 100%);
}

section h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: auto;
    max-width: 500px;
    position: relative;
}

.login-content {
    width: 100%;
    min-height: 28em;
    height: 70%;
    background-color: var(--bg-3);
    background-position: 0% 0%;
    background-size: 300% 300%;
    z-index: 2;
    border: 0.5px solid var(--bg-1);
    border-radius: 1%;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 6px 9px;
    transition: background-position 500ms ease-in-out,
        box-shadow 500ms ease-in-out;
}

.login-content:hover {
    background-position: 100% 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 26px;
    transform: translate3d(-0.5px, -0.5px, 0px);
}

hr {
    max-width: 80%;
    margin-top: 3em;
    margin-bottom: 3em;
}
