.navbar-wrapper {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    background: var(--bg-2);
    box-shadow: 0 15px 20px var(--bg-2);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    min-width: 450px;
    width: 50%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}
.crumb {
    display: flex;
    align-items: center;
    font-size: var(--font-size-1);
    line-height: var(--line-h-3);
    font-weight: 600;
}

.nav-welcome {
    padding-right: 2em;
    cursor: default;
}
.nav-menu-items {
    color: inherit;
    font-size: 20px;
    line-height: var(--line-h-0);
    padding-top: 3px;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: 300;
    text-decoration: none;
    transition: color 300ms ease-in-out;
    cursor: pointer;
}

.nav-menu-items:hover {
    color: orange;
    transition: 300ms ease-in-out;
}

.nav-menu-items:not(:last-child) {
    border-right: solid 2px rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1000px) {
    .nav-welcome {
        font-size: var(--font-size-1);
        line-height: var(--line-h-3);
    }
}